<section>
  <div class="full" *ngFor="let ind=index,let contents of content ">
  <div class="container">
    <div class="row align-items-center" >
      <div class="col-lg-6 order-lg-2" *ngIf="ind%2==0">
        <div class="p-5">
          <img class="img-fluid rounded-circle" [src]="contents.image" alt="">
        </div>
      </div>
      <div  *ngIf="ind%2==0" class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">{{contents.title}}</h2>
          <p>{{contents.desc}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6" *ngIf="ind%2==1">
          <div class="p-5">
            <img class="img-fluid rounded-circle" [src]="contents.image" alt="">
          </div>
        </div>
        <div class="col-lg-6" *ngIf="ind%2==1">
          <div class="p-5">
            <h2 class="display-4">We salute you!</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

